* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --maine-color: #25424d;
}

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-areas: 
        "nav"
        "main"
        "img1"
        "section1"
        "section2"
        "footer";
    }
}


.container {
    display: grid;
}

    /* Nav Bar */
    .navLinks {
        background-color: #25424d;
        grid-area: nav;
    }

    .navLinks ul {
        list-style-type: none;
        height: 5vh;
    }
    .navLinks ul a {
            text-decoration: none;
            color: #ffffff;
        }

        .navLinks ul a:hover {
            background-image: linear-gradient( #ffffff, #ffffff);
            background-position: bottom;
            background-size: 80% 10% ;
            background-repeat: no-repeat;
        }

    /* Name */
    .title {
        background-color: #2a4a57;
        height: 90vh;
        grid-area: main;
        
    }

        .title > h1 {
            color: white;
            margin-left: 3vw;
            margin-right: 3vw;
            margin-bottom: 30px;
            font-size: 7vw;
            background-image: linear-gradient( #192d35, #192d35);
            background-position: 50% 50%;
            background-size: 89% 30% ;
            background-repeat: no-repeat;
            text-shadow: 2px 1px #315563;
        }

        .title p {
            color: white;
            margin: 0px 3vw 0px 3vw;
            font-size: 1.4vw;

        }

        .title span {
                background-image: linear-gradient( #1d333b, #1d333b);
                background-position: bottom;
                background-size: 95% 40% ;
                background-repeat: no-repeat;
                color: #ffffff;
            }

    /* Media Buttons */
        .mediaButtons ul {
            grid-area: footer;
            background-color: #2a4a57;
            height: 5vh; 
            list-style-type: none;
            font-size: small;
        }

        .mediaButtons ul a {
            margin-left: 2vw;
            color: #ffffff;
        }
        .mediaButtons ul a:hover {
            background-image: linear-gradient( #ffffff, #ffffff);
            background-position: bottom;
            background-size: 80% 10% ;
            background-repeat: no-repeat;
        }
        
